.instructions{
  margin-bottom: 100px;
}
.instructions p{
  text-align: center;
}
.instructions h1 {
  text-align: center;
}
.instructions > div {
  width: 80%;
}
.instructions i {
  font-size: 2rem;
}

@media only screen and (max-width:600px){
    .instructions-content{
        flex-direction: column;
    }
}
