.home {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
  height: 350px;
  background-image: linear-gradient(
    to right,
    rgb(15, 32, 39),
    rgb(32, 58, 67),
    rgb(44, 83, 100)
  );
  /* clip-path: ellipse(100% 55% at 48% 44%); */
}
.home h2 {
  padding: 40px 10px 10px 10px;
  color: white;
}
.home .actions {
  display: flex;
  align-items: center;
}
.home input {
  height: 40px;
  width: 400px;
  border: 1px solid grey;
  text-indent: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
}
.home .actions button {
  height: 42px;
  width: 100px;
  border: 0px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  background-color: #226089;
  border-radius: 5px;
}
.home .actions button:focus {
  outline: none;
}
/* .home .actions button:hover {
    cursor: pointer;
    background-color: #4082af;
} */
.home input {
  outline: none;
}

.loading {
  width: 30px;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .home .actions {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home input {
    margin-bottom: 10px;
    width: 300px;
  }
  .home h2 {
    text-align: center;
  }
  .loading {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .home {
    height: 350px;
  }
}
